/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */

/* 1.1 */
article {
    margin: 15px 0;
    padding: 15px;
    border: 2px solid gray;

}
/* 1.2 */
.style-me1 {
    color: red;
}

/* 1.3 */
#style-me2 {
    color: blue;
}

/* 1.4 */
#style-me2.style-me1 {
    color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */
/* 2.1 */
.my-descendants-are-styled p {
    background-color: red;
}
/* 2.2 */
.my-children-are-styled>p {
    background-color: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

.box {
    background-color: aquamarine; /* 1.1*/
    padding: 10px 60px 10px 60px; /* 1.2 ,  7.3  */
    width: 50% border 10px thick solid; /*2.1*/
    height: 5% !important; /*2.2
    The third box retains the style attribute because it has higher specificity */
    /* 2.3 the boxes size up and down proportionally when using vw/vh and minimising the screen */
    border-style: solid; /*3.1*/
    border-color: brown;
    border-width: 10px; /*3.2*/
    box-sizing: border-box; /*4.1 border box width includes the width of 
    the content without padding, content-box includes padding on content.*/
    overflow: auto; /*5.1*/
    /*5.2* depending on the overflow chosen the content spills over, is cut off or a scroll bar is added*/
    border-radius: 1em; /*7.1, 7.2*/
    margin: 5px, 2px; /* 1.2*/
    outline: 10px dashed grey; /*6.1*/
    background-image: url("../assets/images/img1.png"); /*8.1*/
    background-size: cover; /*8.2*/
    background-repeat: no-repeat; /*8.3*/
    background-position: center; /* 8.4 */
    
}



/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {
    position: absolute; /*1.1*/
    top: 0; /*1.2*/
    background-color: aquamarine; /*1.3*/ 
}

.position-relative {
    background-color: cornflowerblue; /*2.2*/ 
    position: absolute; /*2.1*./
    /* 2.3: "relative" = relative to it's normal position, 
    "absolute" = relative to the nearest ancestor */
    left: 200px; 
    right: 250px;
    /*2.4 adding left positioned the content where specified from the left to right, adding right strecthed the element   */
    
}

.position-sticky {
    position: sticky; /*3.1*/
    background-color: khaki; /*3.2*/
    top: 20px; /*3.3*/
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */

.text-style {
    color: purple;
    font-size: 40px;
    line-height: 2;
    font-weight: 400;
    font-family: "Meow Script";
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: capitalize;
    text-decoration: underline;

}

/* V. Styling links */
/* Put styles for questions 1-3 here */

a:link {
    color:lightskyblue; /*1.1*/
    font-size: 30px; /*1.2*/
    font-weight: 200;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: overline
}

a:active {
    color:midnightblue;
    text-decoration:dotted;
}

a:focus {
    color: coral;
    text-decoration: wavy;
}

a:visited {
    color: red; /*3.1*/
    font-style: italic; /*3.2*/
}


/* VI. calc() */
/* Put styles for questions 1-3 here */

.calc-style {
    width: calc(100%-360px); /*1.1, 1.2*/
    background-color: forestgreen;
}

.fixed-width-col {
    width: 350px;
    display: inline-block;
}

.fluid-col {
    display: inline-block;
    width: calc(100vw -400px)
}